<div class="container">
  <h2>Réinitialiser le mot de passe</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div>
      <label>Nouveau mot de passe</label>
      <input
        type="password"
        formControlName="password"
        placeholder="Entrez votre nouveau mot de passe"
      />
    </div>

    <div>
      <label>Confirmer le mot de passe</label>
      <input
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirmez le mot de passe"
      />
    </div>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Chargement...' : 'Réinitialiser' }}
    </button>

  </form>

  <!-- message succès -->
  <p *ngIf="message" style="color: green;">
    {{ message }}
  </p>

  <!-- message erreur -->
  <p *ngIf="error" style="color: red;">
    {{ error }}
  </p>
</div>